SFTP_HOST=eu-central-1.sftpcloud.io
SFTP_PORT=22
SFTP_USERNAME=your-username
SFTP_PASSWORD=your-password
SFTP_FILEIN_PATH=/FileIn
SFTP_PROCESSING_PATH=/Processing
SFTP_ERROR_PATH=/Error
SFTP_PROCESSED_PATH=/FileOut
MASTER_FILE_PATTERN=^Master_\d{8}\.csv$
TRANSACTION_FILE_PATTERN=^Transactions_\d{8}\.csv$
ACTIVE_FLAG=X
BATCH_SIZE=2000
